<div class="row" id="container">

    <div class="col-lg-2 col-md-3">
        <app-left-bar/>
    </div>
    <div class="col-lg-10 col-md-9">
        <app-nav-bar/>
        <h1 class="text-start"> Exams Data bases [03D]</h1>
        <p>Jorge Ivan Triviño</p>
        <div class="row" id="exams">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <app-due-exams/>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <app-done-exams/>
            </div>
        </div>
    </div>
</div>
