<div class="row">
    <div class="col-lg-2 col-md-3">
        <app-left-bar/>
    </div>
    <div class="col-lg-10 col-md-9">
        <app-nav-bar/>

        <h1 class="text-center"> Crear examen </h1>
        <div class="row">

            <div class="col-6 col-lg-6 col-md-6">
                <app-preambulo-creacion-examen/>
            </div>
            <div class="col-6 col-lg-6 col-md-6">
                <img src="/assets/data/home/images/dabases.png" alt="Crear examen" class="img-fluid">
            </div>
        </div>
    </div>
</div>



